<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
    </style>
</head>

<body>
    <button class="button secondary" role="button" onclick="generateText(`https://litci.org/es/israel-se-prepara-para-expulsar-a-los-palestinos-en-medio-del-repudio-internacional/?utm_source=copylink&utm_medium=browser`)">API</button>
    <button class="button primary" role="button" onclick="renderSlides(carouselContent)">Gerar carrossel</button>
    <button class="button" role="button" id="editText">Editar texto</button>
    <div id="carousel-container">
    </div>
    <script src="carousel.js"></script>
</body>

</html>